---
import "../styles/global.css";

import { socialLinksList } from "../components/SocialLinks.astro";

// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import ServicioCard from "../components/ServicioCard.astro";
// Astro
import Image from "astro/components/Image.astro";
import { Icon } from "astro-icon/components";

// Images
// Hero
import RanaHero from "../images/rana_rocky2.png";
import AniversarioHero from "../images/aniversario-hero.svg";

// Que es OkiDoki
import RanaRockera from "../images/rana_rocky1.png";

// Testimonios

// Servicios
import Botargas from "../images/MarioBros.jpeg";
import Magos from "../images/MagoLuigi.jpg";
import PintaCaritas from "../images/PintaCaritas.jpg";
import Payasos from "../images/Payasita.jpg";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<MainLayout title="OkiDoki Producciones">
  <section
    class="mb-30 grid grid-cols-1 gap-8 px-0 md:mb-0 md:grid-cols-2 lg:px-20"
  >
    <div class="mx-auto" data-aos="fade-right">
      <Image
        src={AniversarioHero}
        alt="30 aniversario OkiDoki Costa Rica"
        class="m-0 w-screen"
        loading="eager"
      />
      <div class="z-30 mx-auto w-[90%] md:mx-0 md:pl-4 xl:pl-8">
        <a href={socialLinksList.whatsapp.url} target="_blank">
          <Button icon="mdi:arrow-up-right-thick">
            游꿀 QUIERO PLANEAR MI EVENTO
          </Button>
        </a>
      </div>
    </div>
    <Image
      src={RanaHero}
      alt=""
      class="-z-50 mx-auto -mt-20 hidden w-screen max-w-[70%] drop-shadow-2xl md:flex"
      loading="eager"
      data-aos="fade-left"
    />
  </section>
  <section>
    <!-- <img class="-z-10 w-md absolute left-[150px] sm:left-[50%]" alt="" src="/src/images/rana_rocky1.png" /> -->
    <div
      class="bg-black-okidoki -z-20 grid h-fit grid-cols-1 gap-8 px-4 pt-30 pb-20 sm:px-10 lg:grid-cols-2 lg:px-30 xl:px-40"
    >
      <div>
        <p class="text-gray-okidoki font-okidoki text-4xl opacity-50">
          oKiDoki
        </p>
        <p
          data-aos="fade-in"
          class="font-secondary mt-4 max-w-md text-4xl text-white md:text-5xl md:leading-13 lg:leading-12"
        >
          Creamos momentos
          <span
            class="from-primary-500 font-primary bg-gradient-to-r to-[#FF7E00] bg-clip-text font-bold text-transparent lg:text-6xl"
            >inolvidables</span
          >
          para personas
          <span
            class="from-primary-500 font-primary bg-gradient-to-r to-[#FF7E00] bg-clip-text font-bold text-transparent lg:text-6xl"
            >inolvidables.</span
          >
        </p>
        <p
          data-aos="fade-in"
          class="text-gray-okidoki text-md mt-10 max-w-lg leading-10 md:text-lg"
        >
          Nuestra experiencia nos ha ense침ado que cada evento es 칰nico, y por
          eso nos especializamos en ofrecer experiencias personalizadas que van
          m치s all치 de lo esperado.
        </p>
      </div>
      <div data-aos="fade-left" class="flex items-center">
        <Image src={RanaRockera} alt="" />
      </div>
    </div>
  </section>

  <!-- Testimonios -->
  <section class="container mx-auto p-4">
    <h1
      id="testimonios"
      data-aos="fade-in"
      class="text-secondary-500 font-primary py-10 text-center text-4xl font-semibold md:text-left xl:text-7xl"
    >
      NUESTROS CLIENTES
    </h1>
    <div class="mb-50 grid gap-5">
      <!-- First row - full width -->
      <div
        data-aos="fade-up"
        class="bg-primary-500 min-w-0 overflow-hidden rounded-md shadow-lg"
      >
        <video class="h-full max-h-dvh w-full object-cover" controls>
          <source
            src="https://www.w3schools.com/html/mov_bbb.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>

      <!-- Second row - three columns on md and up -->
      <div class="grid grid-cols-1 gap-5 md:grid-cols-3">
        <div
          data-aos="fade-up"
          class="bg-primary-500 min-w-0 overflow-hidden rounded-md shadow-lg"
        >
          <video
            class="h-96 w-full object-cover"
            controls
            poster="/src/images/rana_rocky1.png"
          >
            <source
              src="https://www.w3schools.com/html/mov_bbb.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>
        <div
          data-aos="fade-up"
          class="bg-primary-500 min-w-0 overflow-hidden rounded-md shadow-lg"
        >
          <video
            class="h-96 w-full object-cover"
            controls
            poster="/src/images/rana_rocky1.png"
          >
            <source
              src="https://www.w3schools.com/html/mov_bbb.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>
        <div
          data-aos="fade-up"
          class="bg-primary-500 min-w-0 overflow-hidden rounded-md shadow-lg"
        >
          <video
            class="h-96 w-full object-cover"
            controls
            poster="/src/images/rana_rocky1.png"
          >
            <source
              src="https://www.w3schools.com/html/mov_bbb.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </section>
  <!-- Servicios -->
  <section id="servicios">
    <div class="bg-primary-500 mx-auto px-4 py-15 sm:px-10 lg:px-30 xl:px-40">
      <h1
        data-aos="fade-in"
        class="font-primary py-10 text-center text-4xl font-semibold text-white xl:text-9xl"
      >
        SERVICIOS
      </h1>
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        <ServicioCard
          image={Botargas}
          title="Botargas"
          icon="hugeicons:super-mario"
        >
          M치s de <span class="text-xl font-semibold">100</span> personajes del cine,
          videojuegos y TV
        </ServicioCard>

        <ServicioCard image={Magos} title="Magos" icon="mdi:magic">
          Efectos m치gicos que sorprenden a chicos y adultos
        </ServicioCard>

        <ServicioCard
          image={PintaCaritas}
          title="Pinta Caritas"
          icon="mdi:paintbrush-outline"
        >
          Transformamos rostros en obras de arte
        </ServicioCard>

        <ServicioCard image={Payasos} title="Payasos" icon="game-icons:clown">
          Transformamos rostros en obras de arte
        </ServicioCard>

        <ServicioCard
          image={PintaCaritas}
          title="Pinta Caritas"
          icon="mdi:paintbrush-outline"
        >
          Transformamos rostros en obras de arte
        </ServicioCard>

        <ServicioCard
          image={PintaCaritas}
          title="Pinta Caritas"
          icon="mdi:paintbrush-outline"
        >
          Transformamos rostros en obras de arte
        </ServicioCard>
      </div>
    </div>
  </section>
</MainLayout>
