---
import Image from "astro/components/Image.astro";
import Button from "./Button.astro";

// Hero images
import RanaHero from "../images/rana_rocky2.png";
import AniversarioHero from "../images/aniversario-hero.svg";
import { socialLinksList } from "../components/SocialLinks.astro";

// Promociones Slider image
import Promocion1 from "../../public/media/promotions/promocion_febrero.png";
import Promocion2 from "../../public/media/promotions/anuncio_citymall.jpeg";
---

<!-- Slider main container -->
<div class="mx-auto max-w-screen">
  <div class="hero-swiper h-screen w-screen">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide h-screen">
        <!-- Se agrega "h-full" para que el grid ocupe el 100% del slide y se puede centrar el contenido -->
        <div class="grid h-full grid-cols-1 gap-8 px-0 md:grid-cols-2 lg:px-20">
          <div
            class="mx-auto flex flex-col justify-center"
            data-aos="fade-right"
          >
            <Image
              src={AniversarioHero}
              alt="30 aniversario OkiDoki Costa Rica"
              class="m-0 w-screen"
              loading="eager"
            />
            <div class="z-30 mx-auto max-w-[90%] md:mx-0 md:pl-4 xl:pl-8">
              <a href={socialLinksList.whatsapp.url} target="_blank">
                <Button icon="mdi:arrow-up-right-thick">
                  🎉 CELEBRA CON NOSOTROS
                </Button>
              </a>
            </div>
          </div>
          <!-- La imagen de la rana se muestra solo en pantallas medianas en adelante -->
          <div class="hidden items-center justify-center md:flex">
            <Image
              src={RanaHero}
              alt=""
              class="z-[-50] mx-auto max-w-[70%] drop-shadow-2xl"
              loading="eager"
              data-aos="fade-left"
            />
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="swiper-slide h-screen">
        <Image
          src={Promocion1}
          alt="Promocion 25% de descuento en mes de Febrero"
          class="mx-auto h-screen w-screen object-contain"
          loading="eager"
        />
      </div>

      <!-- Slide 3 -->
      <div class="swiper-slide h-screen">
        <Image
          src={Promocion2}
          alt="Nos vemos en City Mall este 14 de Febrero"
          class="mx-auto h-screen w-screen object-contain"
          loading="eager"
        />
      </div>
    </div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<script>
  import Swiper from "swiper/bundle";

  document.addEventListener("DOMContentLoaded", () => {
    const heroSwiper = new Swiper(".hero-swiper", {
      direction: "horizontal",
      loop: true,
      autoplay: {
        delay: 10000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
      },
      navigation: {
        nextEl: ".hero-swiper .swiper-button-next",
        prevEl: ".hero-swiper .swiper-button-prev",
      },
    });
  });
</script>
