---
import { Icon } from "astro-icon/components";

const {
  platform,
  username,
  url,
  iconName,
  icon = true,
  size = 25,
  color = "currentColor",
} = Astro.props;

const href = url || `https://www.${platform}.com/${username}`;
const ariaLabel = `Visítanos en ${platform}`;
---

<li class="transition-transform duration-300 hover:scale-120 drop-shadow-lg">
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={ariaLabel}
    class="inline-block"
  >
    {
      icon && (
        <Icon
          name={iconName}
          width={size}
          height={size}
          class={`text-${color} transition-color duration-500 hover:text-primary-500`}
          aria-hidden="true"
        />
      )
    }
    {!icon && <span class="sr-only">{platform}</span>}
  </a>
</li>
