---
import "aos/dist/aos.css";
import "@styles/global.css";

interface Props {
  title: string;
  description?: string;
  bodyClass?: string;
  includeSitemap?: boolean;
}

const {
  title,
  description = "Empresa de Costa Rica. Ofrecemos Botargas, Fiestas de Cumplea침os, Eventos Familiares y Empresariales con 30 a침os de Experiencia.",
  bodyClass = "",
  includeSitemap = true,
} = Astro.props;
---

<html lang="es" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>OkiDoki - {title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="Botargas, Fiestas de Cumplea침os, Eventos Familiares, Eventos Empresariales, Animaci칩n Infantil, OkiDoki"
    />
    <meta name="author" content="OkiDoki" />
    {includeSitemap && <link rel="sitemap" href="/sitemap-index.xml" />}
  </head>
  <body class={`h-full ${bodyClass}`}>
    <slot />
    <script>
      import AOS from "aos";
      AOS.init();
    </script>
  </body>
</html>
